!.vscode/launch.json

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pnpm-lock.yaml
package-lock.json

# Build outputs
dist/
build/
.vite/
out/

# VScode
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*.local

# Coverage / test output
coverage/
coverage/*
