/* GLOBAL CONTAINER */
.home-container {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 20px;
}

/* ================= HERO ================= */
.hero {
  margin: 10px auto;
  padding: 35px;
  border-radius: 18px;
  background: linear-gradient(to right, #fff8df, #f3f7fa);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

/* LEFT IMAGE */
.hero-image img {
  width: 600px;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

/* RIGHT TEXT */
.hero-title {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 10px;
  color: #000;
}

.hero-sub {
  font-size: 25px;
  margin-bottom: 18px;
  color: #444;
}

/* Search bar */
.search-box {
  display: flex;
  gap: 10px;
}

.search-box input {
  width: 340px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #aaa;
  font-size: 16px;
}

.search-box button {
  padding: 12px 20px;
  background: #c8102e;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

/* ================= POPULAR CATEGORIES ================= */
.popular-cat {
  margin: 60px 0 40px;
}

.popular-cat h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #fff;
}

.cat-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

.cat-item {
  background: #ffd700;
  padding: 18px;
  border-radius: 12px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #a80000;
  cursor: pointer;
}

/* ================= ADVERTISEMENT SLIDER ================= */
.ad-section {
  margin: 50px 0;
  overflow: hidden;
  height: 80px;
}

.ad-track {
  display: flex;
  gap: 20px;
  animation: scrollAds 18s linear infinite;
}

.ad-card {
  min-width: 260px;
  background: #c8102e;
  color: white;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
}

/* smooth horizontal scroll */
@keyframes scrollAds {
  from { transform: translateX(100%); }
  to { transform: translateX(-120%); }
}

/* ================= EXPLORE RR NAGAR ================= */
.explore-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #fff;
}

.explore-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}

.explore-card {
  background: #ffe865;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
